.hidden {
    display: none;
}

body {
    background-color: #e4dcd3;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
}

input[type="number"] {
    padding-left: 3px;
    width: 45px;
}

select option:disabled {
    color: rgba(0, 0, 0, 0.95);
    font-weight: bold;
    text-align: center;
}

.art {
    background-color: #e4dcd3;
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}

.content {
    background-color: gray;
    left: 5%;
    position: absolute;
    top: calc(50% - 100px);
    width: 705px;
}

.grid-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 90px 140px 80px 140px 80px 175px;
    width: 705px;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    padding: 2px;
}

.header {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    height: 50px;
    width: 703px;
}

.header-item {
    align-items: top;
}

.item-text {
    padding-left: 3px;
}

.logo {
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

.notes {
    float: left;
    font-size: 12px;
    padding: 10px;
}

.title {
    border-right: 2px solid black;
    float: left;
    font-size: 25px;
    padding: 10px 30px 10px 10px;
}