.hidden {
    display: none;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="number"] {
    padding-left: 3px;
    width: 45px;
}

select option:disabled {
    color: rgba(0, 0, 0, 0.95);
    font-weight: bold;
    text-align: center;
}

.grid-container-1 {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 90px 125px 80px 125px 80px 175px;
    width: 675px;
}

.grid-container-2 {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 60px 180px 60px 180px;
    width: 480px;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    padding: 2px;
}

.item-text {
    padding-left: 3px;
}